.logout-container {
    background-color: #f7fdfc;
    padding: 2rem;
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #444;
    text-align: center;
  }
  
  .logout-container h2 {
    font-size: 1.5rem;
    color: #6c8d1f;
    font-weight: 500;
  }
  